.search-column {
  background-color: purple;
}
.header-text {
  color: purple;
  font-weight: bold;
}

.search-title {
  color: #ffc107;
}
.list-group-item {
  line-height: 0.5;
  border: none;
  color: purple;
}
.card-body {
  flex: auto;
}

span.severe {
  padding: 3px;
  background-color: red;
  color: white;
}

span.moderate {
  padding: 3px;
  background-color: yellow;
}

span.favorable {
  padding: 3px;
  background-color: green;
  color: white;
}
